.decoration.blue   { color:#1E63D5; }
.decoration.green  { color:#2BB24C; }
.decoration.yellow { color:#F7B52C; }
.decoration.purple { color:#7B3FC8; }

.howto-item__number.blue   { background:#1E63D5; }
.howto-item__number.green  { background:#2BB24C; }
.howto-item__number.yellow { background:#F7B52C; }
.howto-item__number.purple { background:#5632b7; }